.locateArtistsContainer {
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,247,45,1) 100%);
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	.linksContainer {
		width: 75%;
		margin: auto;
		/*margin-top: 30px;*/
		@media screen and (max-width: 550px) {
			width: 100%;
		}
		.artistLink {
			color: inherit;
		}
		.soundcloud {
			img {
				width: 60px;
			}
			@media screen and (max-width: 550px) {
				img {
					width: 40px;
				}
			}
		}
	}
	.artistContainer {
		text-align: left;
		margin-bottom: 15px;
		a {
			cursor: pointer;
		}
	}
	.buttonsContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.innerContainer {
		height: 100px;
	    background: black;
	    width: 100%;
	    opacity: 0.75;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    a {
	    	cursor: pointer;
    	    color: #fff;
    	    font-size: 24px;
    	    padding-bottom: 5px;
    	    border-bottom: 1.5px solid #fff;
    		&:hover {
    			border-bottom: none;
    			padding-bottom: 7px;
    	    }
	    }
	}
}

img {
	display: inline-block;
	vertical-align: top; /* remove extra pixels under inline element */
	width: 40px;
	@media screen and (max-width: 550px) {
		width: 25px;
	}
}

body {
	margin: 0;
}

.loadingBackground {
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.resultsBackground {
	height: auto;
	padding: 15px;
}

@keyframes color {
	0% {
    	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	}
	50% {
    	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	}
}

table {
  /*border: 1px solid #ccc;*/
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  /*background-color: #f8f8f8;
  border: 1px solid #ddd;*/
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

td.artistName {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    text-align: left;
    @media screen and (max-width: 550px) {
    	width: 125px;
    }
}
td.actions {
	width: 5%;
	padding: 0;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}