@import "../scss/variables";


.ourTable {
	@media #{$mobile} {
		margin: 5px auto;
	}
	.emptyText {
		text-align: left;
		margin-top: 0px;
	}
	.artistName, .emptyText {
		font-size: 18px;
		opacity: 0.85;
	}
	.ourRow {
		display: table-row;
		@media #{$mobile} {
			display: inherit;
			marign-bottom: 5px;
		}
		.editLink, .deleteLink {
			margin-right: 15px;
			@media #{$mobile} {
				font-size: 0.8em;
			}
		}
	}
}

.artistField, .artistName {
	display: flex;
	align-items: center;
	padding-right: 200px;
	input {
		padding-right: 5px;
		max-width: 200px;
	}

	a {
		display: inline-block;
		margin-left: 10px;
	}
}



.artistsTable {
	width: 75%;
	margin: auto;
	border-spacing: 15px;
	.title {
		text-align: left;
		font-size: 32px;
	    font-weight: bold;
	}
	.controls {
		border-bottom: 1px solid #8683ab;
		opacity: 0.85;
	}
	.viewImageLink {
		font-weight: normal;
		padding-right: 10px;
		cursor: pointer;
	}
	.cell {
		input {
			border-radius: 5px;
		    border: 1px solid #000;
		    height: 30px;
		    color: #555;
		    padding-left: 5px;
		    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
		}

		.artistLink {
			color: inherit;
			img {
				display: inline-block;
				vertical-align: top;
				width: 35px;
				@media #{$mobile} {
					width: 25px;
				}
				&:hover {
					opacity: 0.7;          
				}
			}
		}

		&.artistName {
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		    width: 25px;
		    font-weight: bold;
		    font-weight: 18px;
		    @media screen and (max-width: 550px) {
		    	width: 125px;
		    	padding-left: 0px !important;
		    }
		    @media screen and (min-width: 489px) {
		    	text-transform: uppercase;
		    	max-width: 125px;
		    }
		    a {
		    	margin-left: 10px;
		    }
		}
		&.editContainer {
			opacity: 0.85;
			text-align: center;
			a {
				margin-right: 10px;
				position: relative;
				font-weight: normal;
				cursor: pointer;
				border-bottom: solid 2.5px transparent;
				&:hover {
					border-bottom: 2px solid #000;
				}
			}
			&.hideOnMobile {
				display: none !important;
				@media screen and (min-width: 489px) {
					display: table-cell !important;
				}
			}
		}
		&.soundcloud {
			img {
				width: 60px;
			}
			@media #{$mobile} {
				img {
					width: 45px;
				}
			}
		}
		&.mobileActions {
			display: table-cell;
			position: relative;
			bottom: 4px;
			font-size: 20px;
			text-decoration: none;
			padding-left: 28px;
			@media screen and (min-width: 489px) {
				display: none !important;
			}
			@media screen and (max-width: 365px) {
				padding-left: 15px;
			}
			a {
				text-decoration: none;
			}
			.popoverContent {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				right: 15px;
				transform: translate(0, 10px);
				background-color: #eee;
				padding: 0.5rem;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
				box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
				width: auto;
				border-radius: 5px;
				.popoverMessage {
					margin: 0px;
					text-align: center;
					a {
						display: block;
						text-align: left;
					}
				}
			}
			.popoverContent:before {
				position: absolute;
				z-index: -1;
				right: -15%;
				top: 8px;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #eee transparent;
				transition-duration: 0.3s;
				transition-property: transform;
			}
			&:hover .popoverContent {
				z-index: 10;
				opacity: 1;
				visibility: visible;
				transform: translate(0, -20px);
				transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
			}
		}
		.hidden {
			@media #{$mobile} {
				visibility: hidden;
			}
		}
	}
	&.smallTable {
	    @media screen and (min-width: 489px) {
			width: 57%;
		    display: inline-table;
		    vertical-align: top;
		    vertical-align: top;
		  	padding-left: 50px;
	    }
	}
}

.viewImage {
	display: none;
    -webkit-animation: fadein 2s linear; 
	-moz-animation: fadein 2s linear; 
	-ms-animation: fadein 2s linear;
	-o-animation: fadein 2s linear; 
	animation: fadein 2s linear;
	paddinng-bottom: 25px;
    @media screen and (min-width: 1100px) {
		width: 35%;
	    margin-left: 5%;
	    margin-top: 25px;
    }
    @media screen and (max-width: 1099px){
    	width: 90%;
    	margin: auto;
    	margin-top: 5px;
    }
    &.show {
    	display: block;
    }
}
@keyframes fadein {
    from { bottom: 0px; }
    to { bottom: 35px; }
    0% { opacity: 0; }
    50% { opacity: 1; }
}

.resultsBackground {
	&.longer {
		height: 100vh;
	}
	.resultsContainer {
		.header {
		    a {
		    	float: right;
	    	    font-size: 1rem;
	    	    font-weight: normal;
	    	    vertical-align: bottom;
	    	    cursor: pointer;
	    	    @media #{$mobile} {
	    	    	font-size: 0.8rem;
	    	    	top: 22px;
	    	    }
	    	    &:hover {
	    	    	border-bottom: 4px solid #000;
	    	    	padding-bottom: 5px;
	    	    	@media #{$mobile} {
	    	    		padding-bottom: 7px;
	    	    	}
	    	    }
		    }
		}
	}
	.notificationContainer {
		position: fixed;
	    width: 475px;
	    bottom: 35px;
	    margin: auto;
	    left: 0;
	    right: 0;
	    background: #eee;
	    border-radius: 5px;
	    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
	    -webkit-animation: fadein 2s linear; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s linear; /* Firefox < 16 */
		-ms-animation: fadein 2s linear; /* Internet Explorer */
		-o-animation: fadein 2s linear; /* Opera < 12.1 */
		animation: fadein 2s linear;
		@media screen and (max-width: 500px) {
			width: 97% !important;
		}
	    .notificationText, .line {
	    	display: inline-block;
	    	vertical-align: middle;
	    }
	    .notificationText {
	    	position: relative;
	    	bottom: 7px;
	    	@media #{$mobile} {
	    		font-size: 0.65em;
	    		bottom: 6px;
	    	}
	    	.status {
	    		color: rgba(0,0,0, 0.85);
	    		text-align: left;
			    position: relative;
			    top: 15px;
			    font-weight: bold;
			    margin-top: 5px;
			    @media #{$mobile} {
			    	top: 10px;
			    }
	    	}
	    	.text {
	    		color: rgba(0,0,0, 0.85);
	    		margin-bottom: 5px;
	    	}
	    }
	    .line {
	    	height: 60px;
		    width: 5px;
		    background: #4FA47D;
		    border-radius: 5px;
		    margin-left: 1.5%;
		    @media #{$mobile} {
		    	height: 40px;
		    }
	    }
	    .check {
	    	width: 35px;
	    	vertical-align: text-top;
	    	display: inline-block;
	    	margin-left: 5%;
	    	margin-right: 5%;
	    	bottom: 4px;
	    	position: relative;
	    }
	}
}