@import "../scss/variables";

.resultsBackground {
	.tableContainer {
		min-height: 350px;
		.table {
			display: flex;
			flex-flow: column nowrap;
			flex: 1 1 auto;
			&.inline {
				@media screen and (min-width: 489px) {
					display: inline;	
				}
			}
			.tbody {
				display: block;
				width: 75%;
				margin: auto;
				overflow-y: auto;
				overflow-x: hidden;
				margin-bottom: 23px;
				@media #{$mobile} {
					width: 90%;
				}
				&.inline {
					@media screen and (min-width: 1099px) {
						display: inline-block;
						width: 53%;
						margin-left: 5%;
					}
					@media #{$mobile} {
						margin-bottom: 0px;
					}
				}
				.tr {
					width: 100%;
					display: flex;
					flex-flow: row nowrap;
					padding-bottom: 10px;
					@media #{$mobile} {
						padding-bottom: 5px;
					}
					&.headline {
						opacity: 0.85;
						margin-top: 15px;
						margin-bottom: 15px;
						border-bottom: 1px solid #8683ab;
						@media #{$mobile} {
							padding-bottom: 0px;
						}
						.td {
							padding-bottom: 0px;
							@media #{$mobile} {
								padding-bottom: 0px;
							}
						}
						.title {
							font-size: 32px;
							font-weight: bold;
							width: 50%;
							@media #{$mobile} {
								font-size: 28.5px !important;
								width: 70% !important;
							}
						}
						.right {
							width: 35%;
							@media #{$mobile} {
								width: 145px;
							}
						}
						.regular {
							@media screen and (max-width: 678px) {
								display: none;
							}
						}
						/*.name {
							width: 63% !important;
						}*/
					}
					.td {
						padding-top: 0px !important;
						/*white-space: nowrap;*/
						text-overflow: ellipsis;
						/*overflow: hidden;*/
						font-size: 18px;
						vertical-align: middle;
						padding: 8px 6px;
						width: 20%;
						@media #{$mobile} {
							height: 50px;
							font-size: 14px !important;
						}
						&.name {
							font-weight: bold;
							width: 30%;
							@media #{$mobile} {
								width: 55%;
							}
							@media screen and (min-width: 500px) and (max-width: 700px) {
								width: 50%;
							}
							input {
								@media #{$mobile} {
									width: 200px !important;
								}
								border-radius: 5px;
							    border: 1px solid #000;
							    height: 30px;
							    color: #555;
							    padding-left: 5px;
							    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
							    margin-right: 10px;
							}
						}

						.cell {
							.artistLink {
								img {
									display: inline-block;
									vertical-align: top;
									width: 35px;
									cursor: url('../client/images/icons/note.png'), pointer;
									@media #{$mobile} {
										width: 25px;
									}
									&:hover {
										opacity: 0.6;          
									}
								}
							}
							&.soundcloud {
								img {
									width: 60px;
								}
								@media #{$mobile} {
									img {
										width: 45px;
									}
								}
							}
							.hidden {
								@media #{$mobile} {
									visibility: hidden;
								}
							}
						}
						&.right {
							padding: 0px;
							text-align: right;
						}
						svg {
							opacity: 0.85;
							width: 38px;
						}
						&.center {
							text-align: center;
						}
						.editLink {
							margin-right: 10px;
						}
						.editLink, .deleteLink {
							font-weight: normal;
							@media #{$mobile} {
								position: relative;
								top: 5px;
							}
							&:hover {
								@media screen and (min-width: 489px) {
									border-bottom: 3px solid #000;
									padding-bottom: 5px;
								}
							}
						}
						.toggleLink {
							margin-left: 5%;
							@media screen and (min-width: 489px) {
								&:hover {
									border-bottom: 3px solid #000;
									padding-bottom: 8px;
								}
							}
						}
						&.actions {
							@media #{$mobile} {
								display: none;
							}
						}
						&.mobileActions {
							position: relative;
							bottom: 21px;
							padding-left: 0px;
						    overflow: initial;
						    z-index: 100000;
							@media screen and (min-width: 489px) {
								display: none !important;
							}
							&.edit {
								width: 50%;
							}
							a {
								text-decoration: none;
							}
							.popoverContent {
								padding-top: 0px !important;
								opacity: 0;
								visibility: hidden;
								position: absolute;
								right: 31px;
								top: 48px;
								transform: translate(0, 10px);
								background-color: #eee;
								padding: 0.5rem;
								box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
								box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
								width: auto;
								border-radius: 5px;
								.popoverMessage {
									margin: 0px;
									text-align: center;
									font-size: 18px;
									a {
										display: block;
										text-align: left;
									}
								}
							}
							.popoverContent:before {
								position: absolute;
								z-index: -1;
								right: -15%;
								top: 8px;
								border-style: solid;
								border-width: 0 10px 10px 10px;
								border-color: transparent transparent #eee transparent;
								transition-duration: 0.3s;
								transition-property: transform;
							}
							&:hover .popoverContent {
								z-index: 10;
								opacity: 1;
								visibility: visible;
								transform: translate(0, -20px);
								transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
							}
							.options {
								font-size: 32px;
							    color: black;
							    opacity: 0.85;
							}

						}
					}
				}
				.emptyText {
					font-size: 18px;
					opacity: 0.85;
					@media #{$mobile} {
						font-size: 17.5px;
					}
				}
			}
		}
		.viewImage {
			display: none;
		   /* -webkit-animation: fadein 2s linear; 
			-moz-animation: fadein 2s linear; 
			-ms-animation: fadein 2s linear;
			-o-animation: fadein 2s linear; 
			animation: fadein 2s linear;*/
			padding-bottom: 25px;
			@media #{$mobile} {
				position: relative;
			}
		    @media screen and (min-width: 1100px) {
				width: 35%;
			    margin-left: 5%;
			    margin-top: 25px;
			    vertical-align: top;
				position: fixed;
		    }
		    @media screen and (max-width: 1099px){
		    	width: 90%;
		    	margin: auto;
		    }
		    &.mobile {
		    	display: none;
		    	&.show {
		    		@media screen and (max-width: 1099px) {
		    			display: block;
		    		}
		    	}
		    }
		    &.regular {
		    	&.show {
		    		display: inline-block;
		    		@media screen and (max-width: 1099px) {
		    			display: none;
		    		}
		    	}
		    }
		}
	}

	.notificationContainer {
		z-index: 1000000;
		position: fixed;
	    width: 475px;
	    bottom: 35px;
	    margin: auto;
	    left: 0;
	    right: 0;
	    background: #eee;
	    border-radius: 5px;
	    box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
	    -webkit-animation: fadein 2s linear; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s linear; /* Firefox < 16 */
		-ms-animation: fadein 2s linear; /* Internet Explorer */
		-o-animation: fadein 2s linear; /* Opera < 12.1 */
		animation: fadein 2s linear;
		@media #{$mobile} {
			bottom: 225px;
		    -webkit-animation: fadeinMobile 2s linear; /* Safari, Chrome and Opera > 12.1 */
			-moz-animation: fadeinMobile 2s linear; /* Firefox < 16 */
			-ms-animation: fadeinMobile 2s linear; /* Internet Explorer */
			-o-animation: fadeinMobile 2s linear; /* Opera < 12.1 */
			animation: fadeinMobile 2s linear;
		}
		@media screen and (max-width: 500px) {
			width: 97% !important;
		}
	    .notificationText, .line {
	    	display: inline-block;
	    	vertical-align: middle;
	    }
	    .notificationText {
	    	position: relative;
	    	bottom: 7px;
	    	@media #{$mobile} {
	    		font-size: 0.65em;
	    		bottom: 6px;
	    	}
	    	.status {
	    		color: rgba(0,0,0, 0.85);
	    		text-align: left;
			    position: relative;
			    top: 15px;
			    font-weight: bold;
			    margin-top: 5px;
			    @media #{$mobile} {
			    	top: 10px;
			    }
	    	}
	    	.text {
	    		color: rgba(0,0,0, 0.85);
	    		margin-bottom: 5px;
	    	}
	    }
	    .line {
	    	height: 60px;
		    width: 5px;
		    background: #4FA47D;
		    border-radius: 5px;
		    margin-left: 1.5%;
		    @media #{$mobile} {
		    	height: 40px;
		    }
	    }
	    .check {
	    	width: 35px;
	    	vertical-align: text-top;
	    	display: inline-block;
	    	margin-left: 5%;
	    	margin-right: 5%;
	    	bottom: 4px;
	    	position: relative;
	    }
	}
}
.hide {
	@media #{$mobile} {
		display: none;
	}
}
@keyframes fadein {
    from { bottom: 0px; }
    to { bottom: 35px; }
    0% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinMobile {
    from { bottom: 200px; }
    to { bottom: 225px; }
    0% { opacity: 0; }
    50% { opacity: 1; }
}